########################################################################################
# Project: 
#   Managed Kubernetes Services: A Comparison of AKS, EKS and GKE
#
# Author:  
#   Michał Ziemianek
#
# Description:
#   The project focuses on deploying and benchmarking
#   a microservices-based application using Kubernetes and cloud-native technologies
#   (Terraform, Ansible, Helm, Prometheus, Grafana, K6).
#
# License:
#   Apache 2.0
#
# Notes:
#   - This code is intended for educational and research purposes.
#   - Ensure proper configuration of cloud resources before execution.
#
# © 2025 Michał Ziemianek. All rights reserved.
########################################################################################

project_id   = "{{ gcp_project_id }}"
region       = "{{ gcp_region }}"
vpc_name     = "{{ vpc_name }}"
cluster_name = "{{ cluster_name }}"
subnet_name  = "{{ gke_subnet_name }}"
node_count   = "{{ gke_node_count }}"
machine_type = "{{ gke_node_machine_type }}"
disk_size    = "{{ gke_node_disk_size }}"
