########################################################################################
# Project: 
#   Managed Kubernetes Services: A Comparison of AKS, EKS and GKE
#
# Author:  
#   Michał Ziemianek
#
# Description:
#   The project focuses on deploying and benchmarking
#   a microservices-based application using Kubernetes and cloud-native technologies
#   (Terraform, Ansible, Helm, Prometheus, Grafana, K6).
#
# License:
#   Apache 2.0
#
# Notes:
#   - This code is intended for educational and research purposes.
#   - Ensure proper configuration of cloud resources before execution.
#
# © 2025 Michał Ziemianek. All rights reserved.
########################################################################################

project_id   = "{{ gcloud_project_id }}"
region       = "{{ gcloud_region }}"
cluster_name = "{{ cluster_name }}"

# Addons
cert_manager    = "{{ helm_charts.cert_manager.path }}"
cluster_ingress = "{{ helm_charts.cluster_ingress.path }}"
istiod          = "{{ helm_charts.istiod.path }}"
istio_base      = "{{ helm_charts.istio_base.path }}"
istio_gateway   = "{{ helm_charts.istio_gateway.path }}"

cluster_ingress_values = "{{ cluster_istio_ingress_rendered_template_path }}"
