apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: frontend-gateway
  namespace: boutique
spec:
  selector:
    istio: ingressgateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "boutique.ziemian.top"
    - port:
        number: 443
        name: https
        protocol: HTTPS
      hosts:
        - "boutique.ziemian.top"
      tls:
        mode: SIMPLE
        credentialName: boutique-tls-secret  # <-- matches secretName from the Certificate
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: frontend-ingress
  namespace: boutique
spec:
  hosts:
    - "boutique.ziemian.top"
  gateways:
    - frontend-gateway
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: frontend
            port:
              number: 80
